<head>
    <link rel="stylesheet" href="/stylesheets/pdfFisico.css" />
</head>
<page size="A4">
    <!--Imagen1-->
    <img class="pdf" alt="" src="/images/kycFisico1.jpg">
    <!--Info pg1-->
    <div class="overSect1">
        <div class="line0 colum0 size-letter">
            {{name}}-{{lastname}}
        </div>
        <div id="datoRadio" class="line1 colum1 size-check-radio">
            ●
        </div>
        <!--FALTA EL OTRO RADIO SI ES PASAPORTE-->
        <div class="line2 colum2 size-check-radio">
            ✔
        </div>
    </div>
</page>
<page size="A4">
    <!--Imagen2-->
    <img class="pdf" alt="" src="/images/kycFisico2.jpg">
    <!--info pg2-->
    <div class="overSect2">
        <div class="lineFirma columFirma">
            <img class="firma" alt="" src="data:image/png;base64,{{signature.fileData}}">
        </div>
    </div>
</page>